* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

:root {
  font-size: 16px;
  --color-text: #000;
  --color-text-alt: #6a6a6a;
  --color-faded: #c9c9c9;
  --color-bg: #fff;
  --border-color: #ccc;
  --color-link: #000;
  --color-link-hover: #999;
  --color-placeholder: #f8f8f8;
  --font-size-s: 0.85rem;
  --font-size-l: clamp(1.25rem, 3vw, 1.75rem);
  --font-size-xl: clamp(1.5rem, 5vw, 2.75rem);


  --radius: 2rem;
  --padding-vert: 0.5rem;
  --padding-horz: 1rem;
  --transition: 0.3s ease-in-out;
  --border-color: currentColor;
  --hover-bg: rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  padding: 0 1rem;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'JetBrains Mono', 'Fira Code', 'Cascadia Code', 'Source Code Pro', 'Consolas', monospace;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.blurred {
    filter: blur(5px);
    pointer-events: none;
  }
}

h2 {
  font-size: var(--font-size-xl);
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

p+h3 {
  margin-top: 2rem;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted var(--color-link);
  color: var(--color-link);
  outline: none;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: var(--color-link-hover);
    outline: none;
  }

  &:focus {
    outline: none;
    background-color: lightgrey;

    &:not(:focus-visible) {
      background-color: transparent;
    }

    &:focus-visible {
      opacity: 0.5;
      background-color: transparent;
    }
  }
}

img {
  display: block;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.fade-in.loaded {
  opacity: 1;
}

button {
  background: none;
  display: flex;
  padding: 0;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  fill: currentColor;

  &:hover {
    color: var(--color-link-hover);
  }

  &:focus {
    outline: none;
    background-color: lightgrey;

    &:not(:focus-visible) {
      background-color: transparent;
    }

    &:focus-visible {
      background-color: transparent;
      color: var(--color-link-hover);
    }
  }
}

img {
  max-width: 100%;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.faded {
  color: var(--color-faded);
}

.inline {
  display: flex;
  gap: 1rem;
}

.content-wrap {
  display: grid;
  gap: 2rem;
  padding: 3rem 0 10vh;
  grid-template-columns: 100%;
  grid-auto-columns: auto;
  grid-template-areas: 'img' 'content';
}

@media screen and (min-width: 44em) {
  .content-wrap {
    grid-template-columns: 35vw 1fr;
    grid-template-areas: 'img content';
  }
}

.content {
  grid-area: content;
  max-width: 500px;
}

.content--page {
  max-width: none;
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 50em) {
    margin: 0 20vw;
    padding: 3rem 1rem;
  }
}

.content p,
.content ol {
  line-height: 1.4;
  font-weight: 500;
}

.content ol {
  list-style-type: decimal-leading-zero;
  padding: 0 0 0 1.8em;
  margin-bottom: 2rem;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  margin-top: 0rem;
}

dt {
  font-weight: bold;
  grid-column: 1;
}

dd {
  grid-column: 2;
  margin: 0;
}

.image {
  background-color: var(--color-placeholder);
  grid-area: img;
  margin-top: 1rem;
}

.title-header {
  position: relative;
  font-weight: 700;
  gap: 1rem;
  align-items: end;
  padding: 1rem 0 0.5rem;
  width: 100%;
}


.search-control {
  padding: var(--padding-vert) var(--padding-horz);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: inherit;
  transition:
    background var(--transition),
    border-color var(--transition),
    color var(--transition);
}

input.search-control {
  flex: 1 1 auto;
  max-width: 20rem;
  width: 100%;
}

button.search-control {
  flex: 0 0 auto;
  cursor: pointer;
  white-space: nowrap;
}

input.search-control:focus {
  outline: none;
  border-color: #0070f3;
  background: var(--hover-bg);
}

button.search-control:hover,
button.search-control:focus {
  outline: none;
  background: var(--hover-bg);
  color: #0070f3;
}

.search-wrapper {
  display: flex;
  gap: 1rem;
  flex: 1;
  align-items: center;
}

.news-card {
  position: relative;
  min-height: 100%;
}

.news-card .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 3rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
}

a.news-card img {
  width: 100%;
  aspect-ratio: 1;
}

.course-card .title {
  font-size: 1.2rem;
}

section.data-grid {
  position: relative;
  overflow: hidden;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, calc(100% / 2));
  margin: 1rem 0;
  min-height: 400px;
  gap: 0.5rem;

  @media screen and (min-width: 30em) {
    grid-template-columns: repeat(4, calc(100% / 4));
  }

  @media screen and (min-width: 50em) {
    grid-template-columns: repeat(4, calc(100% / 4));
  }
}

.load-more-btn {
  margin: 1rem auto;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  padding: var(--padding-vert) var(--padding-horz);
}