---
import Separator from "../components/Separator.astro";
---

<Separator />
<footer>
  <p>
    对网站内容有任何建议或修改意见，欢迎在对应 <a
      href="https://github.com/Yuyz0112/koala-oss-app"
      target="_blank">Github 仓库</a
    >提交 Issue 或 PR。
  </p>
</footer>
<style>
  footer {
    padding: 2rem 0;
  }
  p {
    margin: 0;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text-alt);
  }
</style>
